@import "./reset";
@import "./text";
@import "./flex";
@import "./colors";

body {
    display: flex;
    flex-direction: column;
    background-color: $background-color-light;
    color: $text-primary-light;
    margin: 0;
    font-family: $font-main;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 3840px;

    main{

        nav {
            margin: 2rem auto;
            @include give-flex-row(center, center);

            
            
            div {
                @include give-flex-row(center, space-between);            
        
                img{
                    border-radius: 50%;
                    width: 50px;
                }

                .menu{
                    margin-left: 32px;
                    list-style: none;
                    display: flex;
                    gap: 64px; 
                    
                    .link {
                        cursor: pointer;
                        text-underline-offset: .3rem;
                        font-size: 0.9rem;
                        font-weight: normal;
                        letter-spacing: 0.6px; 
                        font-family: inherit;
                    }
                    .link:hover{
                        text-decoration: underline;
                        transition: ease-in-out 250ms;
                    }   
                } 
            } 
            
    
            svg {
                margin-left: 256px;
                width: 50px;
            }
        }
    }

    .hero-banner {
        display:flex;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        background-image: url(../../assets/img/IMG_3639.JPG);
        width: 100%; 
        height: 1100px; 
        background-size:cover;
        background-position:center;

            .hero-text-container{
                display:flex;
                flex-direction: column;
                box-sizing: border-box;
                justify-content: center;
                align-items: center;              

                .title-container{
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    margin: 1rem auto;
                    
                    h2{
                        background-color: $background-color-dark-opacity;
                        @include hero-text;
                        color: $text-white;
                        padding: 24px;
                    }
                }
                    div {
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        width:40%;

                        p{
                            background-color: $background-color-dark-opacity;
                            padding: 1rem 1rem;
                            color: $text-white;
                            text-align: center;
                        
                        }
                    }

                    div {
                        display: flex;
                        justify-content: center;
                        margin: 1rem auto;

                        .button {
                            background-color: $background-color-dark;
                            color: $text-white;
                            padding: 24px 36px;
                        }
                        .button:hover{
                            scale: 1.05;
                            transition: ease-in-out 200ms;
                        }

                    }
                }
            }
        }

    .copyrights {
        margin-top: 32px;
        text-align: center;
        font-size: 0.8rem;
    }


